.container{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.bmi{
    width:50%;
    /* background-color: #fff; */
    padding: 5%;
    h1{
        color:#129e2c;
        font-size: 28px;
        margin: 15px 0px;
    }
    h2{
        font-size: 20px;
        font-weight: 500;
    }
   
    img{
        position: relative;
        top:-440px;
        left:260px;
        width:400px;
        height: 450px;
        z-index: 0;
    }
    Button{
        margin: 20px 0px;
        background-color: #129e2c;
        font-weight: 500;
    }
}


h1, h2, p, h3, h4, h5, h6{
    color: black;
}

#inp{
    width:330px;
    background-color: green;
}

.second{
    width:50%;
    height: 80vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.bmi_first{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
}
.min_max {
    width: 325px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 3px 0px;
}
.value_box{
   border: 1px solid black;
   padding: 5px 10px;
   border-radius: 2.5px;  
   
}
input[type='range']{
    border-radius: 20px;
    
}
/* Style the range input track */
input[type="range"] {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    background: transparent; /* Make the track transparent */
    width: 100%; /* Full width */
}

/* Style the range input track in WebKit browsers */
input[type="range"]::-webkit-slider-runnable-track {
    height: 14px; /* Height of the track */
    background: #129e2c; /* Green color for the track */
    border-radius: 15px; /* Rounded corners */
}

/* Style the range input track in Mozilla Firefox */
input[type="range"]::-moz-range-track {
    height: 14px; /* Height of the track */
    background: #129e2c; /* Green color for the track */
    border-radius: 15px; /* Rounded corners */
}

/* Style the range input thumb (adjustable point) in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 20px; /* Width of the thumb */
    height: 21px; /* Height of the thumb */
    background: white; /* White color for the thumb */
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.282); /* Green border around the thumb */
    border-radius: 50%; /* Make the thumb circular */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: -6px; /* Center the thumb vertically */
}

/* Style the range input thumb (adjustable point) in Mozilla Firefox */
input[type="range"]::-moz-range-thumb {
    width: 20px; /* Width of the thumb */
    height: 201x; /* Height of the thumb */
    background: white; /* White color for the thumb */
    border-radius: 50%; /* Make the thumb circular */
    cursor: pointer; /* Pointer cursor on hover */
}

/* bmi result css */
.bmi_stats{
    h1, h2{
        display: inline;
    }
    h2{
        margin: 0px;
        font-size: 23px;
    }
    h1{
        margin: 3px 0px;
        color: #000;
        font-weight: 600;
    }
    p{
        font-size: 20px;
       margin: 5px 0px;
    }
}

.second_content{
    background-color: #d2f0e4a7;
    padding: 60px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
    box-shadow: 5px 3px 13px rgba(0, 0, 0, 0.212);
h2{
    color:#129e2c;
}
Button{
    margin: 10px 0px;
    background-color: #129e2c;
    font-weight: 500;
}
a{
    display: block;
    color: #129e2c;
}
}

.second_content:hover{
    transition: all 0.2s ease-in-out;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.301);

}





/* mobile csss1 */
@media  screen and (max-width:600px) {
    .container{
        display: block;
        padding-left: 10px;
    }
    .bmi{
        width: 100vw;
        height: 50vh;
        img{
            position: relative;
            top:-420px;
            left:130px;
            width:340px;
            z-index: 0;
        }
    }
    .second{
        width: 100vw;
    }
    #inp{
        width:200px;
        background-color: green;
    }
    .min_max {
        width: 200px;
    }
    
}